#backing {
    margin: 10px 0 0;
    width: 335px;
  #backers
  {
    border-left: none;
    padding-left: 0;
    ul
    {
      float: left;
    }
  }
  #days {
    border-right: none;
    padding-right: 0;
  }
  ul {
    text-align: center;
  }
  .stats
  {
    margin: 0 auto;
    color: #F9C338;
    font-size: 24px;
    display: block;
    display: inline-block;
    font-family: 'boxyfont', $secondary_font, $tertiary_font;
    border-right: 1px solid #cbcbcb;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    span
    {
      color: #666666;
      font-size: 14px;
      margin-top: 5px;
      display: block;
      font-family: $primary_font, $secondary_font, $tertiary_font;
      line-height: 0.8;
    }
  }
}
body.lt-ie9
{
  #progress
  {
    background-image: none !important;
    background-color: #1392dc !important;
  }
}
#progress_bg
{
  margin-top: 20px;
  height: 40px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
  box-shadow: 0 1px 1px rgba(0,0,0,.41); /* drop shadow */
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 5px;
  background: #fff;
  padding: 19px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: 5px;
  width: 320px;
  #progress_text
  {
    margin: 0 auto;
    font-size: 16pt;
    position: absolute;
    float:left;
    text-align: center;
    margin-top: -35px;
    margin-left:70px;
    min-width: 140px;
  }
}
.small
{
  height: 20px !important;
  background-color: #3FAFB2;
  #progress
  {
    height: 20px !important;
  }
}

 .stats-bottom {
    color: #F7931E;
    margin: 0 auto;
    font-size: 30px;
    display: block;
    display: inline-block;
    font-family: 'boxyfont', $secondary_font, $tertiary_font;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    width: 500px;
     span
    {
      color: black;
      font-size: 14px;
      display: block;
      font-family: $primary_font, $secondary_font, $tertiary_font;
    }
  }

#backing #days-bottom {
    padding-top: 20px;
    margin: 0 auto;
    width: 900px;
}
#progress_bg #progress {
    background:#3fafb2;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 5px;
    min-width: 2%;
    width: 100%;
    max-width: 110%;
    display: inline-block;
    margin:-15px 0 0 -15px;
}

#progress_text {
    color: #F9C338 !important;
    font-family: "boxyfont",  "ProximaNovaBold",  "Arial";
    text-shadow: none;
}
.small {
    height: 20px !important;
    background-color: #3FAFB2;
}
.small #progress {
    height: 31px !important;
}

.bottomprogressbg {
  text-align: left;
  margin-left: 80px !important;
  margin-top: -45px !important;
}

.bottomprogress#progress {
float:left;
  margin: -15px 0 0 -15px !important;
}

#backing .statsbg span {
  color:#fff;
  text-shadow: none;
}
