<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Meet Flappy.
      </h3>
      <p>
        He's not an ordinary plush toy, he can fly! (well, kind of) <br / ><br />
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        To fly, he needs you to lift him up.
      </h3>
      <p>
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Don't let him fall or hit a pipe! If you do, he dies. And you might...
      </h3>
      <p>
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        At least that's better than...
      </h3>
      <p>
      <p>
    </div>
  </div>
</div>
