<div class="wrapper" id="one">
    <h3 class="first">
      Meet Flappy.
    </h3>
     <p class="first-p" id="space">
       He's not an ordinary plush toy, he can fly! (well, kind of)
     <p>

    <div class="center">
      <%= image_tag 'flappy_placeholder.png' %>
    </div>

</div>

</div>

<div class="wrapper" id="two">
  <p class="first-p" id="space">
   <h3 class="first">
     To fly, he needs you to lift him up.
   </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'flappy_placeholder.png' %>
  </div>

</div>

<div class="wrapper" id="three">
  <p class="first-p" id="space">
    <h3 class="first">
      Don't let him fall or hit a pipe! If you do, he dies. And you might...
    </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'flappy_placeholder.png' %>
  </div>
</div>

<div class="wrapper" id="four">
  <p class="first-p" id="space">
    <h3 class="first">
      At least that's better than...
    </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'flappy_placeholder.png' %>
  </div>

</div>

<div class="wrapper" id="five">
  <p class="first-p" id="space">
    <h3 class="first">
    </h3>
  </p>

  <div class="center" id="space">
  </div>

</div>



