<div class="big_wrapper-about">
  <div class="wrapper-about-bottom center" id="middle_reserve">
    <a href="/preorder/checkout" class="blue_button reserve-big"><%= Settings.middle_reserve_text %></a>
  </div>
</div>

