<div class="big_wrapper-about">
  <div class="wrapper-about-bottom center" id="middle_reserve">
    <div id="space"></div>
    <h2 class="first-about-bottom">We know you want him too.</h2>
    <br />
    <a href="/preorder/checkout" class="blue_button reserve-big"><%= Settings.middle_reserve_text %></a>
  </div>
</div>

