<div class="big_wrapper-about">
  <div class="wrapper-about-bottom center" id="middle_reserve">
  <div id="space"></div>
    <a href="/preorder/checkout" class="blue_button reserve-big"><%= Settings.middle_reserve_text %></a>
       <h2 class="first-about-bottom">(If you dare)</h2>
  </div>
</div>

