<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4> OK, seriously.
    What is a Flappy Toy game controller?</h4>
      <p>It's a plush toy that controls the game. To make Flappy fly in the game, you lift the toy up! (similar to how you tap the screen.)
    </li>
    <li id="section-2">
      <h4>Woah, that's cool! How does it work?</h4>
      <p>Inside of the Flappy toy is a sensor module that connects wirelessly to your tablet or mobile device. It detects motion, i.e. lifting of the toy.
    </li>
    <li id="section-3">
      <h4>And is it easy to set-up?</h4>
      <p>YES!</p><br />
      <p>Simply download the game from the App Store, launch the game and bring your toy near your device.</p><br />
      <p>The toy connects automatically. Now you're ready to play!</p>
    </li>
    <li id="section-4">
      <h4>Do you have more pictures of Flappy?</h4>
      <p>Of course, Flappy loves taking selfies!
      (link to instagram feed)</p>
    </li>
     <li id="section-5">
      <h4>I’m full of questions. What do I do?</h4>
      <p>Don’t starve. Check out our <%= link_to 'FAQs', '#' %></p>
    </li>
     <li id="section-6">
      <h4>We need your support to finish development work on the game and cover the
minimum run required for production. </h4>
      <div class="Twitter"><%= link_to 'Share on twitter', '#' %></div>
      <div class="Facebook"><%= link_to 'Share on Facebook', '#' %></div>
    </li>
  </ul>
</div>
