<br />

<div class="wrapper-top center">
  <h2 class="mid">
  <div>
    <span class="font1">We</span> <span class="font2"><%= image_tag 'love.png' %></span>
   <span class="font3"><%=image_tag 'flappybird.png', alt: 'FLAPPY BIRD' %></span><span class="fontone">so much<div id="space">we made <span class="fonttwo">FLAPPY</span>, the toy game controller!</span></div>
  </div>
 </h2>
</div>
