<br />

<div class="wrapper-top center">
  <h2 class="mid">
  <div>
    <div class="line1"><span class="font1">We</span> <span class="font2"><%= image_tag 'flappylove.png' %></span>
   <span class="font3"><%=image_tag 'flappybird.png', alt: 'FLAPPY BIRD' %></span><span class="fontone">so much<div class="line2"><div id="space">we made <span class="fonttwo">FLAPPY</span>, the toy game controller!</span></div></div>
  </div>
 </h2>
</div>
