<div class="wrapper-top center">
  <h2 class="mid">
  <div>
    <span class="font1">We</span> <span class="font2">LOVE</span>
   <span class="font3">Flappy Bird</span><span class="fontone">so much<div id="space">we made <span class="fonttwo">FLAPPY</span>, the toy game controller!</span></div>
  </div>
  </div>
 </h2>
</div>
