.footer
{
  padding: 30px 0 96px 0;
  background-image: image_url('bg__footer.png');
  ul
  {
    float: left;
  }
  li
  {
    margin-bottom: 10px;
  }
  a
  {
    font-size: 18px;
    color: #525252;
    font-family: $primary_font, $secondary_font, $tertiary_font;
  }
  p
  {
   font-size: 12px;
   margin-top: 120px;
   margin-left: 340px;
  }
}

