#lockitron_header
{
  border: none;
  a
  {
    border: none !important;
    font-size: inherit !important;
  }
}
#header
{
  box-shadow: 0 1px 2px rgba(0,0,0,0.29);
  background: #fff;
  background-image: -webkit-linear-gradient( rgba(241,241,241,0.05) 0%,rgba(0,0,0,0.05) 100%);
  background-image: linear-gradient( rgba(241,241,241,0.05) 0%,rgba(0,0,0,0.05) 100%);
  width: 100%;
  padding: 5px 0 20px 0;
  position: relative;
}

#header_links {
float: right;
}

.nav1 {
font-family: "ProximaNova-Semibold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color: #0E96E4;
margin-top: 30px;
border: 1px solid #d3d3d3;
float: left;
border-radius: 5px;
padding: 8px 12px;
font-size: 16px;
margin-right: 5px;

  a {
  color: #0E96E4;
  }
  a:hover {
  color: black;
  }
}

.navright {
list-style-type:none;
margin:0;
padding:0;
float: right;
margin-top:-37px;
color: #777;
}

.navright li {
display:inline;
margin: 0 15px;
}

.flappynav a {
  color: #777;
}

.flappynav a:hover {
  color: #777;
}

.flappynav {
  position: fixed;
}


@media (max-width: 768px) {
  .flappynav {
    position: relative;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
    .flappynav {
    position: relative;
  }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .flappynav {
    position: relative;
  }
}


