<div id="header">
  <div class="wrapper clearfix">
    <h1 id="lockitron_header"><a href="/"><%= Settings.product_name %></a></h1>
    <nav id="header_links">
      <ul>
        <li class="nav1"><%= link_to 'FAQ', '#faq' %></li>
        <li class="nav1"><%= link_to 'Flappy\'s story', root_path %></li>
      </ul>
    </nav>
  </div>
</div>
