<br />
<div class="wrapper-about center">
  <h2 class="mid">
  <div>
    <span class="font3"><%=image_tag 'faqs.png', alt: 'FLAPPY BIRD' %></span>
  </div>
 </h2>
</div>


<a href="#faq"></a>
<div class="wrapper-faqs clearfix" id="faqs">
    <h4>Flappy, the toy game controller:</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>Which devices will flappy support?</summary>
          <p>Andriod Devices:</p>
          <p>iPhone 4s and later</p>
          <p>iPad 3 and later</p>
          <p>iPod Touch 5</p>
          <p>iPad mini</p>
          <p>HTC One (OS v4.3+ only</p>
          <p>LG G2</p>
          <p>Motorola Droid RAZR M, RAZR HD, RAZR</p>
          <p>Maxx HD (OS v4.1.2</p>
          <p>Motorola Moto G</p>
          <p>Samsung Galaxy S4</p>
          <p>Samsung Galaxy S III</p>
          <p>Samsung Galaxy Note III</p>
          <p>Samsung Galaxy Note II</p>
          <p>Samsung Galaxy Note 10.1</p>
          <p>Sony Xperia Z, Z1, Z1S, ZL, ZR, Z Ultra, Z1</p>
          <p>Compact, Tablet Z (OS v4.3+ only)</p>
          <br />
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How does Flappy connect to my device?</summary>
          <p>Launch the game and bring Flappy near your device. Flappy will connect automatically. Flappy uses Bluetooth I.E, so no traditional bluetooth pairing is needed.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How do I play with Flappy?</summary>
          <p>You play with Flappy by lifting him up. Everytime you lift up Flappy (the toy), Flappy (on-screen) fly through the pipes and fly as far as possible to get a high score.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What is Flappy's battery life?</summary>
          <p>Flappy requires two AAA batteries which last 1-2 years.</p>
        </details>
      </li>
      The Game
      <br /><br />
       <li>
        <details class=''>
          <summary>What game does Flappy work with?</summary>
          <p>Flappy works with our version (a replica) of the beloved 'Flappy Bird' by Dong Nguyen.</p>
        </details>
      </li>
       <li>
        <details class=''>
          <summary>What is Flappy's battery life?</summary>
          <p>Flappy requires two AAA batteries which last 1-2 years.</p>
        </details>
      </li>
    </ul>
    <h4>Ordering and Shipping:</h4>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>How do I change the CSS?</summary>
          <p>Head over to <code>app/assets/stylesheets/variables.css.scss</code>. It makes it easy to change around the elements used throughout the HTML.
          <br />
          <br />
          Alternatively, you can dive right into the CSS, have a look at <code>app/assets/stylesheets/main.css.scss</code>.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Why did you release this?</summary>
          <p>Hardware startups are less welcome on Kickstarter than they were 6 months ago. We needed to roll our own kickstarter, so we did. Other hardware startups probably will too, so we made it easier for them by open sourcing our way of doing it.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>What software stack does this use?</summary>
          <p>It's a Ruby on Rails app that makes heavy use of SCSS, Kickstarter's wonderful <code>amazon_flex_pay</code> gem, and a hint of CoffeeScript.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How do I deploy it?</summary>
          <p>We recommend using Heroku. We include a Procfile for you, so all you need to do is:
          <p>
            <p>Install the <a href="https://toolbelt.heroku.com/">Heroku Toolbelt</a></p>
            <p>Run <code>heroku create</code> in Selfstarter's folder</code></p>
            <p>Run <code>git push heroku master</code> in Selfstarter's folder</p>
          </p>
        </details>
      </li>
    </ul>
</div>
