<%= render 'preorder/header_other' %>

<br />
<div class="wrapper-about center">
  <h2 class="mid">
  <div>
    <span class="font3"><%=image_tag 'faqs.png', alt: 'FLAPPY BIRD' %></span>
  </div>
 </h2>
</div>

<a href="#faq"></a>
<div class="wrapper-faqs clearfix" id="faqs">
    <br />
    <div class="left-faq">
    <h4 class="first-faq-left">Flappy, the toy game controller</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>Which devices will Flappy support?</summary>
          <p>Andriod Devices:</p>
          <p>iPhone 4s and later</p>
          <p>iPad 3 and later</p>
          <p>iPod Touch 5</p>
          <p>iPad mini</p>
          <p>HTC One (OS v4.3+ only</p>
          <p>LG G2</p>
          <p>Motorola Droid RAZR M, RAZR HD, RAZR</p>
          <p>Motorola Droid RAZR Maxx HD (OS v4.1.2)</p>
          <p>Motorola Ultra, Maxx</p>
          <p>Motorola Mini (OS v4.4+ only)</p>
          <p>Motorola Moto X</p>
          <p>Samsung Galaxy S4</p>
          <p>Samsung Galaxy S III</p>
          <p>Samsung Galaxy Note III</p>
          <p>Samsung Galaxy Note II</p>
          <p>Samsung Galaxy Note 10.1</p>
          <p>Sony Xperia Z, Z1, Z1S, ZL, ZR, Z Ultra, Z1</p>
          <p>Compact, Tablet Z (OS v4.3+ only)</p>
          <br />
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How does Flappy connect to my device?</summary>
          <p>Launch the game and bring Flappy near your device. Flappy will connect automatically. Flappy uses Bluetooth LE, so no traditional bluetooth pairing is needed.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How do I play with Flappy?</summary>
          <p>You play with Flappy by lifting him up.  Everytime you lift up Flappy (the toy), Flappy (on-screen) flies up in the air.  You keep lifting Flappy (the toy) to make Flappy (on-screen) fly through the pipes and fly as far as possible to get a high score.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What is Flappy's battery life?</summary>
          <p>Flappy requires two AAA batteries which last 1-2 years.</p>
        </details>
      </li>
      <br />
      <h4 class="first-faq">The Game</h4>
      <br />
       <li>
        <details class=''>
          <summary>What game does Flappy work with?</summary>
          <p>Flappy works with our version (a replica) of the beloved 'Flappy Bird' by Dong Nguyen.</p>
        </details>
      </li>
       <li>
        <details class=''>
          <summary>Where do I download the game?</summary>
          <p>The game will be available to download on the iOS App Store and Google Play Store.</p>
        </details>
      </li>
       <li>
        <details class=''>
          <summary>When will the game be available?</summary>
          <p>The game will be available by the time Flappy is shipped to you (estimated date: May 2014).</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How much does the game cost?</summary>
          <p>The game will be free.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How do I play on the TV?</summary>
          <p>By connecting your device to the TV using an HDMI adapter and cable, which you can get on Amazon and at most electronic stores.</p>
        </details>
      </li>
      <br />
      <h4 class="first-faq">Sending Flappy as a Gift</h4>
      <br />
      <li>
        <details class=''>
          <summary>How do I send Flappy as a gift to someone?</summary>
          <p>Select the ‘Send as Gift’ box in the Checkout page, fill in the required information, and checkout with Amazon.</p>
        </details>
      </li>
       <li>
        <details class=''>
          <summary>Do I need to know my friend’s shipping address to send them a gift?</summary>
          <p>Once you click ‘Checkout with Amazon’, we'll notify your friend via email.  Their shipping address will be collected at the end of the campaign.</p>
        </details>
      </li>
    </ul>
  </div>
    <div class="right-faq">
    <h4 class="first-faq-right">Ordering and Shipping</h4>
    <ul class='col2'>
    <li>
        <details class=''>
          <summary>When will my shipping address be collected?</summary>
          <p>If the campaign is successful, we will send you an email and collect your shipping address once the campaign is completed.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>When will Flappy be shipped to me?</summary>
          <p>Your shipping information will be collected once the campaign is completed and successfully funded.
The estimated shipping date is May 2014.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Do you accept international orders?</summary>
          <p>Yes we do.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>How much does shipping cost?</summary>
          <p>Shipping within the United States is $4.95.</p>
          <p>Shipping to Canada is $7.95.</p>
          <p>Shipping to all other countries is $12.95.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>When will my credit card be changed?</summary>
            <p>Your credit card will be charged when the project is successfully funded. If the project is not successfully funded, your card will not be charged.</p>
        </details>
        </li>
        <li class=''>
        <details class=''>
          <summary class=''>Am I only charged if the project is successfully funded?</summary>
            <p>Yes, you will only be charged if the project is successfully funded.</p>
        </details>
        </li>
        <br />
       <h4 class="first-faq">Crowdfunding Campaign</h4>
       <br />
        <li class=''>
        <details class=''>
          <summary class=''>How does this crowdfunding campaign work?</summary>
            <p>We have 30 days to raise at least $25,000 for this project to be successful, and for you to get Flappy.</p>
        </details>
        </li>
        <li class=''>
        <details class=''>
          <summary class=''>What will the crowdfunding campaign funds be used for?</summary>
            <p>The campaign funds will be used to finish development of the game and to cover the minimum run required for production.</p>
        </details>
        </li>
       <br />
       <h4 class="first-faq">About Flappy's Makers</h4>
       <br />
       <li class=''>
        <details class=''>
          <summary class=''>Who are the people behind this project?</summary>
            <p><%=link_to 'Brian and Jenn.', about_path %></p>
        </details>
        </li>
       <li class=''>
        <details class=''>
          <summary class=''>How do I contact you?</summary>
            <p>Send us an email: contact@zowpow.com</p>
        </details>
        </li>
       <br />
       <h4 class="first-faq">Developers</h4>
       <br />
       <li class=''>
        <details class=''>
          <summary class=''>I’m a developer, can my game work with Flappy?</summary>
            <p>Yes it can! Just shoot us an email (developers@zowpow.com) and we’ll send you Flappy’s SDK.</p>
        </details>
        </li>
      </div>
    </ul>
</div>

<%= render 'preorder/homepage/middle_faq' %>



