<%= render 'preorder/header_other' %>


<br />
<div class="wrapper-about center">
  <h2 class="mid">
  <div>
    <span class="font3"><%=image_tag 'flappystory-top.png', alt: 'FLAPPY BIRD' %></span>
  </div>
 </h2>
</div>

<div class="wrapper" id="one" style="border: solid 7px #87dfe1; height: auto; overflow:hidden;">

    <div class="center" id="story" >
      <%= image_tag 'flappy-story.png', width: "915", alt: "Flappy story" %>
    </div>

</div>

<%= render 'preorder/homepage/middle_flappystory' %>
