<%= render 'preorder/header_other' %>


<br />
<div class="wrapper-about center">
  <h2 class="mid">
  <div>
    <span class="font3"><%=image_tag 'flappystory-top.png', alt: 'FLAPPY BIRD' %></span>
  </div>
 </h2>
</div>


<div class="wrapper" id="one">

    <div class="center">
      <%= image_tag 'flappy-story.png', size: "935x2433" %>
    </div>

</div>

<div class="wrapper" id="noah">
</div>

<div class="wrapper" id="noah">
</div>

<div class="wrapper" id="noah">
</div>

<div class="wrapper" id="soah">
</div>

<div class="wrapper" id="soah">
</div>

<div class="wrapper" id="ioah">
</div>

<div class="wrapper" id="ioah">
</div>

<%= render 'preorder/homepage/middle_flappystory' %>
